<!-- Jumbotron start -->
<div class="row">
    <div class="jumbotron jumbotron-fluid my-3 col-md-12">
        <div class="container">
            <h1 class="display-4">Big Corporation Corp.</h1>
            <p class="lead">We are a major corporation that sells many many things to people and we are the embodiment of CAPITALISM!</p>
        </div>
    </div>    
</div>
<!-- Jumbotron end -->


<div class="row my-3">
    <div class="row col-md-12">
        <h1>{{page.content.heading}}</h1>
    </div>
    
    <!-- Products start -->
    <div class="row">
        <div class="card-columns">
            <card 
                data-ng-repeat="product in products" 
                anchor="{{product.anchor}}" 
                imagelink="{{product.imagelink}}"
                title="{{product.title}}"
                desc="{{product.description}}"
                link="{{product.productlink}}"
                >
            </card>
        </div>
    </div>
    <!-- Products end -->
</div>
