<section>
    <!-- Header title start -->
    <div class="row my-5">
        <h1 class="col-md-12">{{page.header}}</h1>
    </div>
    <!-- Header title end -->

    <!-- Content Start -->
    <!-- Search Form Start -->
    <div data-ng-if="showsearchform">
        <form data-ng-submit = "searchOrder(trackingid)" novalidate>
            <div class="form-row align-items-center">
                <div class="col-sm-8 my-1">
                    <label class="sr-only" for="ordertracking">{{page.form.label}}</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">{{page.form.label}}</div>
                        </div>
                        <input type="text" data-ng-model="trackingid" class="form-control" id="ordertracking" placeholder="">
                    </div>
                </div>
                <div class="col-auto my-1">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </div>
        </form>
    </div>
    <!-- Search Form end -->

    <div data-ng-if="orderdetails">

    </div>
    <!-- Content End -->
</section>